# Ignorar entornos virtuales Python en cualquier carpeta
**/venv/
**/venv/**

# Ignorar node_modules en cualquier carpeta
**/node_modules/
**/node_modules/**

# Archivos del sistema
.DS_Store

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# Archivos y carpetas de entorno
.env
.env.*

# VSCode config
.vscode/

# Carpeta de respaldo (opcional, si no la querés subir)
RESPALDO/